<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글목록</title>
</head>
<body>
    <h1>게시글목록</h1>
       <a href="/board/insert">글쓰기</a>
    <table border="1">
       <tr>
         <th width="50">no</th>
         <th width="300">제목</th>
         <th width="200">작성자</th>
         <th width="200">등록일</th>
         <th width="200">수정일</th>
       </tr>

       <tr th:each="(board : ${boardList})">
            <td align="center" th:text="${board.no}"> </td>
            <td align="center">
                <a th:href="|/board/read?no=${board.no}|"
                    th:text="${board.title}"></a>
            </td>
            <td align="center" th:text="${board.writer}"></td>
            <td align="center">
                <span th:text="${board.regDate}"></span>
            </td>
            <td align="center">
                <span th:text="${board.updDate}"></span>
            </td>
       </tr>
    </table>
</body>
</html>